.books h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  color: rgb(111, 33, 184);
}
.row {
  display: flex;
  justify-content: center;
  margin-left: 60px;
}
.card {
  width: 220px;
}
.card img {
  height: 300px;
  border-radius: 5px;
}
.card h4 {
  font-weight: 600;
}
.card h6 {
  font-size: 12px;
  font-weight: 600;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons button {
  background-color: rgb(70, 6, 129);
  margin: 5px;
  color: #fff;
}
