<div class="signup-frm">
    <form  #signDetails="ngForm" (ngSubmit)=" SignUp()">
      <mat-icon>account_circle</mat-icon>
      <h3>SIGNUP</h3>
      <div class="mb-3">
        <input type="text" name="name" [(ngModel)]="userDetails.name" class="form-control" placeholder="Fullname" required />
      </div>
      <div class="mb-3">
        <input type="email" name="email" [(ngModel)]="userDetails.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" placeholder="Email" required  />
      </div>
      <div class="mb-3">
        <input type="password" name="password" [(ngModel)]="userDetails.password" class="form-control" placeholder="Password"required  />
      </div>
      <div class="mb-3">
        <input type="password" name="confirmPassword" [(ngModel)]="userDetails.confirmPassword" class="form-control" placeholder="Confirm password" required  />
      </div>
      <button class="btn" [disabled]="signDetails.invalid" mat-button>SIGNUP</button>
      <div class="calToact">
        <label for="">Already a member ?</label>
        <button class="btn2" mat-button mat-dialog-close="true" (click)="loginOpen()">LOGIN</button>
      </div>
    </form>
  </div>